#root {
  --Cor_Azul01: #236AF4;
  --Cor_Azul02: #5C93FC
}
::placeholder {
  color: rgba(255, 255, 255, 0.8);;
  opacity: 1; /* Firefox */
}
.Container{
  display: flex;
  justify-content: center;
}
.Box{
  width: min(1440px,100vw);
  padding: 20px;
}

/* Banner */
.Banner{
  background-color: var(--Cor_Azul01);
  border-radius: 25px;
}
.Search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Title{
  width: 100%;
  display: flex;
  align-items: center;
}
.Title > h2{
  font-size: min(18px,10vw);
}
.Title > svg{
  padding-right: 10px;
  font-size: 1.5em;
}
.Title p {
  font-size: 0.8em;
}

/* Input */
.Input{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Input_Main{
  display: flex;
  align-items: center;
  background-color: #5C93FC;
  border-radius: 50px;
  padding: 10px;
}
.Input_Main > input{
  width: min(200px,100%);
  border: none;
  outline: none;
  padding: 0;
  background: none;
  transition: 0.5s ease;
  color: rgba(255, 255, 255, 0.8);
}
.Btn_icon{
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 100%;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Img and temperature */
.Img_temperature{
  position: relative;
  width: 100%;
  height: 400px;
}
.Img_temperature > img{
  width: 100.5%;
  height: 100.2%;
  border-radius: 25px;
}
.Card_temperature{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.Card_temperature > div{
  position: relative;
  left: 10px;
  top: 10px;
  width: min(300px,60%);
  background-color: #E7EFFF;
  border-radius: 100px 0px 25px 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temperature{
  color: #236AF4;
  font-size: 16px;
  flex-direction: column;
  text-align: justify;
}
.temperature > div{
  position: relative;
  left: 15px;
  display: flex;
}
.temperature  h3 {
  position: relative;
  top: 10px;
  font-size:  min(6em,15vw);
}
.temperature  span {
  font-weight: 800;
  font-size:  min(6em,15vw);
}
.temperature > p {
  width: 100%;
}


@media screen and (min-width: 992px) {
  .Box{
    padding: 50px;
  }
  .Title p {
    font-size: 1em;
  }

  /* Input */
  .Input_Main > input{
    width: 0;
  }
  .Input_Main:hover input{
    width: 200px;
  }
  .Input_Main:hover .Btn_icon{
    background-color: #2e64ca;
  }

  .temperature  h3 {
    position: relative;
    top: 40px;
    font-size:  min(4em,10vw);
  }
  .temperature  span {
    position: relative;
    left: 10px;
    font-weight: 800;
    font-size: min(5em,7vw);
  }
  .temperature > p {
    width: 100%;
  }
}
